.row {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.justify-left {
  justify-content: left;
}

.space-around {
  justify-content: space-around;
}

.align-center {
  align-items: center;
}

.column-sixth {
  flex-basis: calc(100% / 6);
}

.column-eighth {
  flex-basis: calc(100% / 8);
}

.height-100vh {
  height: 100vh;
}
