.row {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.column-eighth {
  flex-basis: calc(100% / 8);
}
